@font-face {
    font-family: "KGSecondChangesSolid";
    src: url(../fonts/KGSecondChancesSolid.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-MediumItalic.ttf) format("truetype"),
        url(../fonts/Raleway-Regular.ttf) format("truetype"),
        url(../fonts/Raleway-SemiBold.ttf) format("truetype");
}

:root {
    --navbar: #66cbbb;
    --header-bottom: #59164a;
    --btn-green: #b7e800;
    --btn-purple: #59164a;
    --btn-orange: #f59117;
    --white: #ffffff;
    --back-purple: #ab186c;
    --back-lightblue: #66cbbb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: KGSecondChangesSolid;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
}

section {
    padding: 25px 0;
}

/* Navbar */

.navbar {
    background-color: var(--navbar);
    width: 100%;
    display: flex;
}

.logo {
    align-self: center;
    height: 60px;
}

/* Section Header */

.header {
    width: 100%;
    height: 100%;
}

.header__banner {
    width: 100%;
    display: block;
}

.header__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: var(--header-bottom);
    color: var(--white);
    height: 60px;
    padding-right: 100px;
}

.header__bottom-h1 {
    font-size: 0.9rem;
}

.header__bottom-btn {
    margin-left: 50px;
    width: 230px;
}

/* Section OurMission */

.ourMision {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe8de;
}

.ourMision__video {
    width: 450px;
    height: 300px;
    background-color: #393636;
    margin: 0px 20px;
    order: 2;
}

.ourMision-title {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    background-color: var(--btn-green);
    transition: all 0.7;
}

.ourMision-title:hover {
    background-color: var(--btn-purple);
    color: var(--btn-green);
}

.bullets__container {
    margin: 50px 0 0 40px;
}

.green {
    background-color: var(--btn-green);
    color: var(--header-bottom);
}

.purple {
    background-color: var(--btn-purple);
    color: var(--white);
}

.orange {
    background-color: var(--btn-orange);
    color: var(--header-bottom);
}

.bullet {
    display: flex;
    align-items: center;
}

.bullet-icon {
    width: 60px;
    height: 60px;
    background-image: url("../img/PNGs/Asset-01.png");
}

.bullet p {
    margin-top: 10px;
    font-size: 0.8rem;
    color: var(--btn-purple);
    font-weight: 500;
}

/* Section WhatIs */
.whatIs {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--white);
    background-color: rgba(75, 194, 183, 1);
    z-index: 0;
}

.whatIs:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/PNGs/Pink pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

.whatIs__container {
    display: flex;
    align-items: center;
}

.whatIs-title {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 350px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    background-color: var(--btn-purple);
}

.whatIs-p {
    font-weight: lighter;
    margin-top: 90px;
    margin-left: 50px;
}

.whatIs-draw {
    width: 40%;
    height: 40%;
}

/* Section flexibleCurriculum */
.flexibleCurriculum {
    background-color: var(--back-purple);
    position: relative;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

.flexibleCurriculum__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexibleCurriculum__card {
    width: 250px;
    text-align: center;
    color: var(--white);
    padding: 10px 10px;
    margin: 25px;
}

.flexibleCurriculum__title {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    background-color: var(--btn-orange);
}

.card__title {
    margin: 15px;
}

.card__icon {
    width: 60%;
    height: 60%;
}

/* Section images */
.images {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--white);
    background-color: rgba(245, 145, 23, 1);
    z-index: 0;
}

.images:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/PNGs/Pink pattern.png");
    background-color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: invert(100%);
    opacity: 0.05;
    z-index: -1;
}

.images__grid {
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.images__grid-card {
    width: 200px;
    height: 200px;
}

/* Section howWork */
.howWork {
    background-color: var(--back-lightblue);
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
}

.howWork__title {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    background-color: var(--back-purple);
}

#carouselExampleFade {
    margin: 90px 120px 50px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--header-bottom);
    color: var(--white);
    height: 100px;
}

.footer__bottom-h1 {
    font-size: 1rem;
}

.footer__bottom-btn {
    width: 280px;
}

@media (max-width: 768px) {
    /* Navbar */

    .navbar {
        justify-content: center;
    }

    .logo {
        height: 60px;
    }

    /* Section Header */

    .header {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .header__banner {
        width: 100%;
        display: none;
    }

    .header__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: var(--header-bottom);
        color: var(--white);
        height: 200px;
        padding: 0;
    }

    .header__bottom-h1 {
        font-size: 1rem;
    }

    .header__bottom-btn {
        width: 280px;
        margin: 0;
    }

    /* Section OurMission */

    .ourMision {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ebe8de;
    }

    .ourMision__video {
        width: 100%;
        height: 100%;
        background-color: #393636;
        margin: 0px 20px;
        order: 1;
    }

    .ourMision-title {
        position: absolute;
        top: 20;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        background-color: var(--btn-green);
        transition: 0.7;
    }

    .green {
        background-color: var(--btn-green);
        color: var(--header-bottom);
    }

    .purple {
        background-color: var(--btn-purple);
        color: var(--white);
    }

    .orange {
        background-color: var(--btn-orange);
        color: var(--header-bottom);
    }

    .bullet {
        justify-content: flex-start;
    }

    .bullets__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0 0 0;
        padding: 40px 0;
    }

    /* Section WhatIs */

    .whatIs__container {
        display: flex;
        flex-direction: column;
    }

    .whatIs-title {
        position: absolute;
        top: 20;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        background-color: var(--btn-purple);
    }

    .whatIs-p {
        text-align: center;
        font-weight: lighter;
        margin-top: 70px;
        margin-left: 0;
    }

    .whatIs-draw {
        display: none;
    }

    /* Section flexibleCurriculum */
    .flexibleCurriculum__container {
        margin-top: 40px;
    }

    .flexibleCurriculum__card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: var(--white);
    }

    .flexibleCurriculum__title {
        position: absolute;
        top: 20;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        background-color: var(--btn-orange);
    }

    /* Section images */

    .images__grid {
        width: 100%;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 250px;
        justify-content: center;
        align-items: center;
    }

    .images__grid-card {
        width: 250px;
        height: 250px;
    }

    /* Section howWork */
    .howWork {
        background-color: var(--back-lightblue);
        padding: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .howWork__title {
        position: absolute;
        top: 20;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        background-color: var(--back-purple);
    }

    #carouselExampleFade {
        margin: 90px 10px 20px;
    }

    /* footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: var(--header-bottom);
        color: var(--white);
        height: 200px;
    }
}
